[Unit]
Description=Connection Agent
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/connectionagent
Type=dbus
BusName=com.jolla.Connectiond

 [Install]
 WantedBy=jolla-middleware.target
